h1{
    text-align: center;
    font-size: 30px;
}

.columns{
    background: cornflowerblue;
    width: 100px;
    height:300px;
    float: left;
    font-size: 20px;

}
.column1{
    background: rgb(15, 196, 196);
    width: 500px;
    height: 600px;
    float: left;
    font-size: 20px;
}
.column2{
    background: darkgoldenrod;
    width: 500px;
    height:600px;
    float: right;
    font-size: 20px;
}
img{
    height: 30%;
    width: 40%;
    padding: 2%;
}