h1{
    text-align: center;
    font-size: 30px;
}

.columns{
    width: 300px;
    float: left;
    
   

}
img{
    height: 60%;
    width: 60%;
    padding: 1%;
}




@media screen and (min-width: 768px) {
    .column {
      width: 300px;
      float: left;
      padding: 20px;
    }
}

@media  screen and (max-width: 1500px) and (min-width: 800px){
    body {
        background-color: palegoldenrod;
        
    }  
}

@media screen and (max-width: 550px) {
  body {
    background-color: lightgray;
  }
}